version: '2'
services:
  nginx:
    build: ./deployment/nginx
    expose:
      - 80
    links:
      - php-fpm:php-fpm
    restart: always

  php-fpm:
    build: ./deployment/php-fpm
    expose:
      - 9000
    restart: always
